<footer class="container" itemscope itemtype="http://schema.org/Person">
    <div>
        <h1 itemprop="name">Malick Belgrine</h1>
        <h2 itemprop="jobTitle">Intégrateur Html/Css</h2>
    </div>
    <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#services">compétences</a></li>
            <li><a href="#work">apprentissage</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
    </nav>
    <p class="mention-legal">©Copyright 2015 / All Rights Reserved</p>
</footer>