<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="French"/>
    <meta name="author" content="Malick Belgrine"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/font-style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="alternate" href="http://www.malick-belgrine.fr" hreflang="fr-fr" />
    <title>Mon Site Node.js</title>
</head>
<body>

   <%- include('header') %>

   <%- include('section') %>

   <%- include('footer') %>


    <script rel="script" src="js/JavaScript-Dev.js"></script>
    <script>
        MainTabMob();
        MainScroll();
        AnimMain();
        //SlideAnim();
        //Formulaire();
        pourcent();
        Ajax();
        new WOW().init();
    </script>
</body>
</html>