<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="French"/>
    <meta name="author" content="Malick Belgrine"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/font-style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <title>Mon Site Node.js</title>
</head>
    <body>
        <div id="error-page" class="menu--head">
            <div class="container">
                <div class="name" itemscope itemtype="http://schema.org/Person">
                    <a href="#">
                        <h1 itemprop="name">Malick Belgrine</h1>
                        <h1 itemprop="jobTitle">Intégrateur <span>Html/Css</span></h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="page-error col-xs-12">
                    <p class="text-main">Page introuvable
                        &nbsp;<a href="http://www.malick-belgrine.fr">cliquez-ici</a>
                        <span>pour revenir sur le site.</span>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>